<h2>Detalhes do Municipe</h2>
<br>
<table class="table-hover table-bordered table-striped table-100">
  <tr>
    <th>Código</th>
    <td><%= @person.id -%></td>
  </tr>
  <tr>
    <th>Nome Completo:</th>
    <td><%= @person.name -%></td>
  </tr>
  <tr>
    <th>CPF:</th>
    <td><%= @person.cpf -%></td>
  </tr>
  <tr>
    <th>CNS:</th>
    <td><%= @person.cns -%></td>
  </tr>
  <tr>
    <th>Data de Nascimento:</th>
    <td><%= @person.birthday -%></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @person.email-%></td>
  </tr>
  <tr>
    <th>Telefone:</th>
    <td><%= @person.phone_number-%></td>
  </tr>
  <tr>
    <th>Foto:</th>
    <td><%= @person.image-%></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @person.status-%></td>
  </tr>
</table>
<table class='table-hover table-bordered table-striped table-100'>
  <tr>
    <th>Cep</th>
    <td><%= @person.address&.zipcode -%>&nbsp;</td>
  </tr>
  <tr>
    <th>Logradouro</th>
    <td><%= @person.address&.street -%></td>
  </tr>
  <tr>
    <th>Número</th>
    <td><%= @person.address&.number -%></td>
  </tr>
  <tr>
    <th>Complemento</th>
    <td><%= @person.address&.complement -%></td>
  </tr>
  <tr>
    <th>Bairro</th>
    <td><%= @person.address&.neighborhood -%></td>
  </tr>
  <tr>
    <th>Cidade</th>
    <td><%= @person.address&.city -%></td>
  </tr>
  <tr>
    <th>Estado</th>
    <td><%= @person.address&.uf -%></td>
  </tr>
  <tr>
    <th>Código do IBGE</th>
    <td><%= @person.address&.ibge_code -%></td>
  </tr>
</table>
<br><br>
<%= link_to "<i class='fa fa-chevron-left'></i>Voltar".html_safe,
 persons_path -%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "<i class='fa fa-pencil'></i> Editar".html_safe,
 edit_person_path(@person.id) %>
&nbsp;&nbsp;|&nbsp;&nbsp;
Arquiva