<h2>Detalhes do Municipe</h2>
<br>
<table class="table-hover table-bordered table-striped table-100">
  <tr>
    <th>Código</th>
    <td><%= @person.id -%></td>
  </tr>
  <tr>
    <th>Nome Completo:</th>
    <td><%= @person.nome_completo -%></td>
  </tr>
  <tr>
    <th>Nome Conhecido:</th>
    <td><%= @person.nome_conhecido -%></td>
  </tr>
  <tr>
    <th>Data de Nascimento:</th>
    <td><%= @person.data_de_nascimento -%></td>
  </tr>
  <tr>
    <th>Sexo:</th>
    <td><%= @person.sexo-%></td>
  </tr>
</table>
<br><br>
<%= link_to "<i class='fa fa-chevron-left'></i>Voltar".html_safe,
 persons_path -%>
&nbsp;&nbsp;|&nbsp;&nbsp;
<%= link_to "<i class='fa fa-pencil'></i> Editar".html_safe,
 edit_person_path(@person.id) %>
&nbsp;&nbsp;|&nbsp;&nbsp;
Arquiva